---
import { Image } from "astro:assets";
import { PortableText } from "astro-portabletext";
// import imageUrlBuilder from "@sanity/image-url";
// import { sanityClient } from "sanity:client";
// const builder = imageUrlBuilder(sanityClient);

const {research} = Astro.props;
---
<section class="box">
    <h3>{research.title}</h3>
    { research.subtitle && <h4 class="location">{research.subtitle}</h4>}
    { research.institution && <h4 class="location">{research.institution}</h4>}
    <section class="content">
        <PortableText 
            value={research.text}
        />
    </section>
</section>